<header>
    <nav >
      <a [routerLink]="['/']" class="navbar-brand"> <img src="https://cdn.theforage.com/vinternships/companyassets/m7GusTmDpDcGMcp28/a7QBYATxBtRiExiZ8/1625078690042/DEL_SEC_RGB_aw%20(White%20Logo)v2.png" height="24px" alt="Deloitte"> </a>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <!-- <li><a routerLink="/login">Login</a></li> -->
        <li><a routerLink="/adduser">Add User</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
      </ul>
    </nav>
  </header>
  
