<div class="about-section">
    <h1>About Us</h1>
    <p>Discover the Power of .NET and Angular with Us - Unleashing Innovative Solutions for the Future</p>
   
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
            <div class="container">
                <h2>Jeevan Puhan</h2>
                <!-- <p class="title">Analyst</p> -->
                <p>jpuhan@deloitte.com</p>
                <!-- <p><button class="button">Contact</button></p> -->
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="container">
                <h2>Aman Kumar</h2>
                <!-- <p class="title">Art Director</p> -->
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>amankumar76@deloitte.com</p>
                <!-- <p><button class="button">Contact</button></p> -->
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
                <h2>Sai Rakesh</h2>
                <!-- <p class="title">Designer</p> -->
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>ssairakesh@deloitte.com</p>
                <!-- <p><button class="button">Contact</button></p> -->
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card" style="margin-left: 40px;">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
                <h2>Shourya Saini</h2>
                <!-- <p class="title">Designer</p> -->
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>shosaini@deloitte.com</p>
                <!-- <p><button class="button">Contact</button></p> -->
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
                <h2>Saikat Sarkar</h2>
                <!-- <p class="title">Designer</p> -->
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>saisarkar@deloitte.com</p>
                <!-- <p><button class="button">Contact</button></p> -->
            </div>
        </div>
    </div>
</div>